:root {
  --content: "♥";
  --speed: 5s;
  --color: hotpink;
}

/*
HEARTS HTML
*/

.heart {
  position: absolute;
  height: 30px;
  width: 30px;
}

.heart:after {
  color: var(--color);
  display: block;
  content: var(--content);
  animation: move infinite var(--speed);
  opacity: 0;
  text-align: center;
}

@keyframes move {
  0%{
    margin-top:100%;
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    margin-top:-100%;
    opacity: 0;
  }
}